body {
    font-family: sans-serif;
    background-color: lightblue;
}
h1{
    background-color: greenyellow;
}

h2{
    background-color: greenyellow;
}

ol{
    background-color: coral;
}

.aboba{
    background-color: coral;
}
