body {
    font-family: Georgia;
}

footer {
    background-color: black;
}

h1{
    background-color:greenyellow ;
    
}
main{
    background-color: lightblue;
}

header{
    background-color: lightseagreen;
}


body{
    background-color: lightcoral;
}

.link-nav
